---

import { Capitalize } from '../../util/capitalize/index.js'
import { RemoveSpace } from '../../util/removespace/index.js'

export interface Props {
  post: any;
  author: string;
}
const { post, author } = Astro.props;
const { frontmatter } = post;


function formatDate(date) {
  return new Date(date).toUTCString().replace(/(\d\d\d\d) .*/, '$1'); // remove everything after YYYY
}
---

<article class="blog__post">
  <div class="blog__post-data">
    <div class="blog__imgbox">
      <img loading="lazy" class="blog__img" src={frontmatter.image} />
    </div>
    <div class="blog__info-container">
      <a href={post.url} aria-label={`Read ${frontmatter.title}`}>
        <h2 class="blog__title">{frontmatter.title}</h2>
      </a>
      <div class="blog__Info">
        <div class="blog__author">
          <img loading="lazy" class="blog__author-img" src={frontmatter.authorImg} />
          <a class="blog__author-info" href={`/authors/${frontmatter.author}`}>{author.name}</a>
        </div>
        <div class="blog__createdAt">
          <i class='bx bxs-calendar blog__createdAt-icon'></i>
          <time class="date" datetime={frontmatter.date}>{formatDate(frontmatter.date)}</time>
        </div>
      </div>

      <!-- <div class="blog__tags">
        {frontmatter.tags.split(',').map((tag:string, index:number) => (
        <>
          <a {index} href={`/tags/${RemoveSpace(tag)}`}>
            <span class="blog__tag">{Capitalize(RemoveSpace(tag))}</span>
          </a>
        </>
        ))}
      </div> -->
      <p class="blog__excerpt">
        {frontmatter.description}
      </p>
      <div class="blog__tags">
        Tags:{' '}
        {frontmatter.tags.split(',').map((tag:string, index:number) => (
        <>
          <span class="blog__tag">{Capitalize(RemoveSpace(tag))}</span>
        </>
        ))}
      </div>
      <div class="blog__btn-container">
        <a class="button button--flex button--small blog__btn" href={post.url} aria-label={`Read ${frontmatter.title}`}>
          Continue Reading
          <i class="bx bx-right-arrow-alt blog__btn-icon"></i>
        </a>
      </div>
    </div>
  </div>
</article>