---

import { Capitalize } from '../../util/capitalize/index.js'
import { RemoveSpace } from '../../util/removespace/index.js'

export interface Props {
  post: any;
  author: string;
}
const { post, author } = Astro.props;
const { frontmatter } = post;

function formatDate(date) {
  return new Date(date).toUTCString().replace(/(\d\d\d\d) .*/, '$1'); // remove everything after YYYY
}

---

<div class="featuredpost__card">
  <div class="card">
    <div class="featuredpost__image">
      <img loading="lazy" src={frontmatter.image} alt="">

      <div class="featuredpost__overlay featuredpost__overlay--dark">
        <div class="featuredpost__overlay-content">

          <a href={post.url} class="featuredpost__title">{frontmatter.title}</a>

          <div class="featuredpost__author">
            <img loading="lazy" class="featuredpost__author-img" src={frontmatter.authorImg} />
            <a class="featuredpost__author-info" href={`/authors/${frontmatter.author}`}>{author.name}</a>
          </div>
          <div class="featuredpost__createdAt">
            <i class='bx bxs-calendar featuredpost__createdAt-icon'></i>
            <time class="featuredpost__createdAt-date" datetime={frontmatter.date}>{formatDate(frontmatter.date)}</time>
          </div>

          <!-- <div class="featuredpost__tags">
            {frontmatter.tags.split(',').map((tag:string, index:number) => (
            <>
              <a {index} href={`/tags/${RemoveSpace(tag)}`}>
                <span class="featuredpost__tag">{Capitalize(RemoveSpace(tag))}</span>
              </a>
            </>
            ))}
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .featuredpost__card {
    float: none;
    width: 100%;
    padding-left: 0.2em;
    padding-right: 0.2em;
    padding-bottom: 0.4em;
  }

  @media screen and (min-width: 40.063em) {
    .featuredpost__card {
      float: left;
    }
  }

  .featuredpost__image {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    display: block;
    height: 18rem;
    overflow: hidden;
    position: relative;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
  }

  .featuredpost__image>img {
    display: block;
    margin-bottom: 0;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    width: 100%;
    height: 18rem;
    object-fit: cover;
  }

  .featuredpost__image:hover>img {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }

  .featuredpost__title {
    color: white;
    display: inline-block;
    font-size: 1.5em;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 0.75em;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }

  .featuredpost__title:hover {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
  }

  .featuredpost__overlay {
    content: "";
    bottom: 0;
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  .featuredpost__overlay--dark {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
    z-index: 2;
  }

  .featuredpost__overlay-content {
    position: absolute;
    bottom: 0;
    padding: 1.5em;
    z-index: 3;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .featuredpost__author {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .featuredpost__author-img {
    border-radius: 50%;
    height: 1.5rem;
    margin-right: 0.5rem;
    width: 1.5rem;
  }

  .featuredpost__author-info {
    color: white;
  }

  .featuredpost__createdAt {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .featuredpost__createdAt-icon {
    display: inline;
    color: rgb(236, 72, 153);
    font-size: 1rem;
  }

  .featuredpost__createdAt-date {
    color: white;
    font-size: 0.8rem;
  }

  .featuredpost__tags {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .featuredpost__tag {
    color: white;
  }

  @media (max-width: 600px) {
    .featuredpost__image {
      width: 100%;
      height: 350px;
    }

    .featuredpost__image>img {
      width: 100%;
      height: 350px;
    }
  }
</style>