---
export type Props = {
  title: string
  description?: string
  keywords?: string
  canonical?: string
  imageSecureUrl?: string
  image?: string
  imageUrl?: string
  imageAlt?: string
  imageWidth?: string | URL
  imageHeight?: string | URL
  imageType?: string
  type?: string
  next?: string
  prev?: string
  canonicalURL?: string | URL
}

const {
  title,
  description,
  keywords,
  canonical,
  imageSecureUrl,
  image,
  imageUrl,
  imageAlt,
  imageWidth,
  imageHeight,
  imageType,
  next,
  prev,
  canonicalURL,
} = Astro.props as Props
---

<!-- google analytics -->
<script is:inline>
  partytown = {
    forward: ['dataLayer.push'],
  }
</script>
<script
  type="text/partytown"
  src="https://www.googletagmanager.com/gtag/js?id=G-RT1QXJGPDC"
></script>
<script type="text/partytown">
  window.dataLayer = window.dataLayer || []
  function gtag() {
    dataLayer.push(arguments)
  }
  gtag('js', new Date())
  gtag('config', 'G-RT1QXJGPDC')
</script>

<!-- common -->
<meta charset="UTF-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1, shrink-to-fit=no"
/>

<title>{title}</title>
<meta name="description" content={description} />
<meta name="keywords" content={keywords} />
<link rel="canonical" href={canonical} />
<meta name="generator" content={Astro.generator} />
<meta name="image" content={imageSecureUrl} />
<meta name="image" content={imageSecureUrl} />
<meta name="image" content={imageUrl} />
<meta name="image" content={imageAlt} />
<meta name="image" content={imageWidth} />
<meta name="image" content={imageHeight} />
<meta name="image" content={imageType} />
<meta name="theme-color" content="#000000" />

<!-- og -->
<meta property="og:site_name" content={title} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:type" content="website" />
<meta property="og:keywords" content={keywords} />
<meta property="og:url" content={canonical} />
<meta property="og:image:secure_url" content={imageSecureUrl} />
<meta property="og:image" content={imageSecureUrl} />
<meta property="og:image:url" content={imageUrl} />
<meta property="og:image:alt" content={imageAlt} />
<meta property="og:image:width" content={imageWidth} />
<meta property="og:image:height" content={imageHeight} />
<meta property="og:image:type" content={imageType} />

<!-- twitter -->
<meta name="twitter:title" content={title} />
<meta name="twitter:site" content={title} />
<meta name="twitter:description" content={description} />
<meta name="twitter:keywords" content={keywords} />
<meta name="twitter:url" content={canonical} />
<meta name="twitter:image:secure_url" content={imageSecureUrl} />
<meta name="twitter:image" content={imageSecureUrl} />
<meta name="twitter:image:url" content={imageUrl} />
<meta name="twitter:image:alt" content={imageAlt} />
<meta name="twitter:image:width" content={imageWidth} />
<meta name="twitter:image:height" content={imageHeight} />
<meta name="twitter:image:type" content={imageType} />

<meta itemprop="name" content={title} />
<meta itemprop="siteName" content={title} />
<meta itemprop="description" content={description} />
<meta itemprop="keywords" content={keywords} />
<meta itemprop="url" content={canonical} />
<meta itemprop="image:secure_url" content={imageSecureUrl} />
<meta itemprop="image" content={imageSecureUrl} />
<meta itemprop="image:url" content={imageUrl} />
<meta itemprop="image:alt" content={imageAlt} />
<meta itemprop="image:width" content={imageWidth} />
<meta itemprop="image:height" content={imageHeight} />
<meta itemprop="image:type" content={imageType} />

<meta name="application-name" content={title} />
<meta name="msapplication-TileColor" content="#000000" />
<meta name="msapplication-navbutton-color" content="#000000" />

<meta name="apple-mobile-web-app-title" content={title} />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />

<!-- sitemap -->
<link rel="sitemap" href="/sitemap-index.xml" />

<!-- rss -->
<link rel="alternate" type="application/rss+xml" href="/rss.xml" />

<!-- favicon -->
<link rel="manifest" href="/manifest.webmanifest" />
<link rel="apple-touch-icon" href="/assets/icon/logo192.png" />
<link rel="icon" type="image/x-icon" href="/assets/icon/favicon.ico" />

<!-- seo -->
<link rel="canonical" href={canonicalURL} />
{
  next && (
    <link
      rel="next"
      aria-label="Previous Page"
      href={new URL(next, canonicalURL).href}
    />
  )
}
{
  prev && (
    <link
      rel="prev"
      aria-label="Next Page"
      href={new URL(prev, canonicalURL).href}
    />
  )
}
